<!DOCTYPE html>
<style>
    html {
        scroll-behavior: smooth;
    }
</style>
{# djlint:off #}
<!-- TODO: #95 add meta description -->
<html lang="en" data-bs-core="default">
{# djlint:on #}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}
        {% endblock title %}
    - Cinema em POA</title>
    <!-- halfmoon css file -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='halfmoon/halfmoon.min.css') }}" />
    <style>
        .navbar .dropdown-menu {
            position: absolute !important;
        }

        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 0.07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
    <header id="header">
        {# djlint:off #}
        <nav class="navbar mb-5" style="
                                                                                              background-color: var(--bs-content-bg);
                                                                                              border-bottom: var(--bs-border-width) solid
                                                                                                var(--bs-content-border-color);
                                                                                            ">
        {# djlint:on #}
        <div class="container-fluid container align-items-center">
            <a class="navbar-brand" href="{{ url_for("screening.index") }}">
                <img id="logo-black"
                     src="{{ url_for('static', filename='cinema.png') }}"
                     alt="Logo"
                     width="24"
                     height="24"
                     class="d-inline-block align-text-top mr-1" />
                <img id="logo-white"
                     src="{{ url_for('static', filename='cinema-white.png') }}"
                     alt="Logo"
                     width="24"
                     height="24"
                     class="d-inline-block align-text-top mr-1" />
                Cinema em POA
            </a>
            <button class="navbar-toggler d-block d-sm-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar-collapse-9"
                    aria-controls="navbar-collapse-9"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-none" id="navbar-collapse-9">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("screening.index") }}">Hoje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("screening.programacao") }}">Programação</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">Filmes</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{{ url_for("movie.index") }}">Títulos</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for("movie.posters") }}">Posters</a>
                            </li>
                        </ul>
                    </li>
                    {% if g.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for("screening.import_screenings") }}">Importar
                            sessões</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for("screening.create") }}">Nova sessão</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for("auth.logout") }}">Sair</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ url_for("auth.login") }}" class="nav-link">Acessar</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <ul class="d-none d-sm-flex flex-row navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("screening.index") }}">Hoje</a>
                </li>
                <div class="vr mx-3"></div>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("screening.programacao") }}">Programação</a>
                </li>
                <div class="vr mx-3"></div>
                <li class="nav-item dropdown">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">Filmes</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ url_for("movie.index") }}">Títulos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for("movie.posters") }}">Posters</a>
                        </li>
                    </ul>
                </li>
                <div class="vr mx-3"></div>
                {% if g.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("screening.import_screenings") }}">Importar sessões</a>
                    </li>
                    <div class="vr mx-3"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("screening.create") }}">Nova sessão</a>
                    </li>
                    <div class="vr mx-3"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("auth.logout") }}">Sair</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        {# djlint:off #}
                        <a href="{{ url_for('auth.login') }}" style="margin-right: 0.5rem !important"
                            class="nav-link pr-1">Acessar</a>
                        {# djlint:on #}
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <script>
        const html = document.querySelector("html");
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            html.setAttribute("data-bs-theme", "dark");
            document.getElementById("logo-black").remove();
        } else {
            html.setAttribute("data-bs-theme", "light");
            document.getElementById("logo-white").remove();
        }
    </script>
    <div class="container">
        {% block header %}
        {% endblock header %}
    </div>
</header>
<main class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert-dismissible fade show"
             role="alert">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
    {% endfor %}
    {% block content %}
    {% endblock content %}
</main>
<footer class="py-3 my-4 mt-auto">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
            <a href="https://github.com/guites/cinemaempoa"
               class="nav-link px-2 text-muted">código fonte</a>
        </li>
        <li class="nav-item">
            <a href="https://cinemaempoa.goatcounter.com/"
               class="nav-link px-2 text-muted">analytics</a>
        </li>
        <li class="nav-item">
            <a href="https://cumbuca.dev" class="nav-link px-2 text-muted fw-bold">
                {# djlint:off H006 #}
                <img class="emoji"
                     draggable="false"
                     role="img"
                     src="{{ url_for('static', filename='1f49c.svg') }}"
                     alt="💜">
                {# djlint:on #}
            Cumbuca Dev</a>
        </li>
    </ul>
    <p class="text-center text-muted">Feito com ♥ por Porto Alegre</p>
    <p class="text-center mb-0">
        <a href="#header">voltar pro topo</a>
    </p>
</footer>
<script src="{{ url_for('static', filename='halfmoon/bootstrap.bundle.js') }}"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll(
        "[data-bs-toggle='tooltip']"
    );
    const tooltipList = [...tooltipTriggerList].map(
        (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
    );
</script>
<script>
    // reference: https://www.goatcounter.com/help/skip-path
    // doesn't load analytics if there's an element containing `data-goatcounter-skip` attribute
    window.goatcounter = {
        no_onload: document.querySelector("[data-goatcounter-skip]") !== null,
    }
</script>
<script data-goatcounter="https://cinemaempoa.goatcounter.com/count"
        async
        src="//gc.zgo.at/count.js"></script>
</body>
</html>
