.venv
__pycache__
capitolio/
cinebancarios/
sala-redencao/
paulo-amorim/
json/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage/
htmlcov/

dist/
build/
*.egg-info/

.vscode
*.sqlite
flask_backend/uploads/*
!flask_backend/uploads/.gitkeep
flask_backend/static/sitemaps.txt

.env

.idea
.python-version
