repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.1
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Format Code
  - repo: https://github.com/djlint/djLint
    rev: v1.35.2
    hooks:
      - id: djlint
        args: [--profile=jinja]
