{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Posters{% endblock %}</h1>
<p>
    Diferentes formas de visualizar os posters de filmes que já passaram pelo cinemaempoa.
</p>

<!-- Pills -->
<nav class="navbar mb-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('movie.posters') }}">Mosaico</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="{{ url_for('movie.posters_cubism') }}">Cubismo</a>
        </li>
    </ul>
</nav>



{% endblock %}
{% block content %}
<noscript>
    Esta página é um experimento que só funciona com o JavaScript ligado!
</noscript>
<div id="canvas-container" class="d-flex justify-content-center">
</div>
<div id="p5_loading" class="loadingclass">
    Carregando...
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.10.0/p5.min.js"></script>
<script src="{{ url_for('static', filename='cubism/sketch1.js') }}"></script>
{% endblock %}