{% extends "base.html" %}
{% block meta_tags %}
    <meta name="description"
          content="Confira a listagem em ordem alfabética de todos os filmes registrados no site.">
{% endblock meta_tags %}
{% block header %}
    <h1>
        {% block title %}
            Filmes
        {% endblock title %}
    </h1>
    <div class="d-flex flex-column flex-sm-row justify-content-between mb-3">
        <div class="me-3">
            <p>Filmes que já passaram nas cinematecas de Porto Alegre.</p>
            <p>Total de filmes encontrados: {{ qtt_movies }}.</p>
        </div>
        <form class="d-flex align-items-end mb-3"
              action="{{ url_for("movie.index") }}"
              method="get">
            <div class="specific-w-250 me-2">
                <label class="form-label pb-1" for="movie">Buscar por filme</label>
                <input type="text"
                       class="form-control me-2 p-2"
                       name="movie"
                       id="movie"
                       placeholder="Digite o nome do filme..."
                       value="{{ movie }}">
            </div>
            <button class="h-auto btn btn-primary p-2" type="submit">Buscar</button>
        </form>
    </div>
{% endblock header %}
{% block content %}
    <div class="container d-flex">
        <div class="container">
            <ul class="list-group list-group-flush">
                {% for movie in movies %}
                    <li class="list-group-item d-flex justify-content-between align-items-start mb-3 pb-3">
                        <a href="{{ url_for('movie.show', slug=movie.slug) }}">
                            <div class="d-flex">
                                {# djlint:off #}
                                <div class="me-3" style="width: 50px;">
                                {% if movie.screenings[0].image %}
                                    <img loading="lazy"
                                         src="{{ movie.screenings[0].image }}"
                                         class="img-fluid rounded"
                                         style="max-height: 75px; display:block; overflow: hidden;"
                                         alt="{{ movie.screenings[0].image_alt }}">
                                {% else %}
                                    <img loading="lazy"
                                         src="{{ url_for('static', filename='cinema.png') }}"
                                         class="img-fluid rounded logo-black"
                                         alt="Logo">
                                    <img loading="lazy"
                                         src="{{ url_for('static', filename='cinema-white.png') }}"
                                         class="img-fluid rounded logo-white"
                                         alt="Logo">
                                {# djlint:on #}
                            {% endif %}
                        </div>
                        <div>
                            <div class="card-body">
                                {# djlint:off #}
                                <p class="mb-0" style="font-size: 1rem; font-weight: 500;">{{ movie.title }}</p>
                                {# djlint:on #}
                                <p class="card-text">
                                    {% for screening in movie.screenings %}
                                        <span class="badge rounded-pill"
                                              style="background-color: {{ colors[screening.cinema.slug] }}"
                                              data-bs-toggle="tooltip"
                                              data-bs-placement="top"
                                              title="{{ screening.cinema.name }}">{{ screening.cinema.slug }}</span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        {% else %}
            <li>
                <p>Nenhum filme registrado. Volte em breve!</p>
            </li>
        {% endfor %}
    </ul>
    <nav aria-label="Navegação das páginas de filmes">
        <ul class="pagination">
            <li class="page-item {{ '' if prev_page else 'disabled' }}">
                <a class="page-link"
                   href="?{{ 'movie={}&'.format(movie) if movie }}page={{ prev_page }}&limit={{ limit }}">Anterior</a>
            </li>
            {% for page in range(1, pages + 1) %}
                <li class="page-item {{ 'active' if curr_page == page }}">
                    <a class="page-link"
                       href="?{{ 'movie={}&'.format(movie) if movie }}page={{ page }}&limit={{ limit }}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="page-item {{ '' if next_page else 'disabled' }}">
                <a class="page-link"
                   href="?{{ 'movie={}&'.format(movie) if movie }}page={{ next_page }}&limit={{ limit }}">Próximo</a>
            </li>
        </ul>
    </nav>
</div>
</div>
<script>
    function dummyImg() {
        const htmlEl = document.querySelector("html");
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            htmlEl.setAttribute("data-bs-theme", "dark");
            [...document.getElementsByClassName("logo-black")].forEach((el) => el.remove());
        } else {
            htmlEl.setAttribute("data-bs-theme", "light");
            [...document.getElementsByClassName("logo-white")].forEach((el) => el.remove());
        }
    }
    dummyImg();
</script>
{% endblock content %}
