{% extends 'base.html' %} {% block header %}
<style>
  .constraint {
    max-width: 985px;
    margin: auto;
  }
  /* Render items as columns */
  .section-grid {
    display: flex;
    flex-flow: column wrap;
  }
  /* Force new columns */
  .section-grid::before,
  .section-grid::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }

  .grid-img {
    width: 32%;
    margin-bottom: 15px;
  }
  /* Re-order items into rows */
  .grid-img:nth-child(3n + 1) {
    order: 1;
  }
  .grid-img:nth-child(3n + 2) {
    order: 2;
  }
  .grid-img:nth-child(3n) {
    order: 3;
  }
</style>
<h1>{% block title %}Posters{% endblock %}</h1>
<p>Todos os filmes que já passaram pelo cinemaempoa</p>
{% endblock %} {% block content %}
<div class="constraint">
  <section
    style="height: {{max_column_height}}px;"
    class="section-grid"
    data-height="{{max_column_height}}"
    data-page="{{page}}"
  >
    {% for image in images %}
    <img
      class="grid-img"
      src="/screening/assets/{{ image['url'] }}"
      loading="lazy"
      onerror="removeOnError(event)"
      width="{{image['width']}}"
      height="{{image['height']}}"
    />
    {% endfor %}
  </section>
</div>
<script>
  async function intersectionCallback(entries, observer) {
    const entry = entries[0];
    const target = entry.target;
    // console.log(target.complete);
    // if (!target.complete) {
    //   return;
    // }
    if (entry.intersectionRatio <= 0) {
      return;
    }
    console.log("reachd");
    const main = document.querySelector("main");
    const section = document.querySelector(".section-grid");
    const currentSectionHeight = section.getAttribute("data-height");

    observer.unobserve(target);

    const currentPage = section.getAttribute("data-page");
    const nextPage = parseInt(currentPage) + 1;

    const nextPageRequest = await fetch(`/movies/posters?page=${nextPage}`);

    if (!nextPageRequest.ok) {
      return;
    }
    console.log("request ok");

    const nextPageText = await nextPageRequest.text();
    const parser = new DOMParser();
    const nextPageHtml = parser.parseFromString(nextPageText, "text/html");
    const nextPageSection = nextPageHtml.querySelector(".section-grid");

    const nextPageSectionHeight = nextPageSection.getAttribute("data-height");
    const nextPageNumber = nextPageSection.getAttribute("data-page");

    section.setAttribute("data-page", nextPageNumber);
    section.innerHTML += nextPageSection.innerHTML;
    const totalHeight =
      parseInt(currentSectionHeight) + parseInt(nextPageSectionHeight);
    section.setAttribute("data-height", totalHeight);
    section.style.height = `${totalHeight}px`;

    const imgsObserver = Array.from(section.querySelectorAll("img"));
    console.log(imgsObserver[imgsObserver.length - 1]);
    observer.observe(imgsObserver[imgsObserver.length - 1]);
  }

  function removeOnError(e) {
    e.target.remove();
  }

  document.addEventListener("DOMContentLoaded", (event) => {
    const observer = new IntersectionObserver(intersectionCallback, {
      threshold: 1,
    });
    const imgs = Array.from(document.querySelectorAll(".grid-img"));
    observer.observe(imgs[imgs.length - 1]);
  });
</script>
{% endblock %}
