{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Criar sessão{% endblock %}</h1>
  <p></p>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label class="form-label" for="title">Cinema</label>
    <select class="form-select" id="cinema_id" name="cinema_id">
      <option {% if not request.form['cinema_id'] %} selected {% endif %}>Selecione uma sala</option>
      {% for cinema in cinemas %}
        <option value="{{ cinema.id }}"{% if request.form['cinema_id'] == cinema.id|string %} selected {% endif %}>{{ cinema.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3" id="screenings">
    <p>Exibições</p>
    {% if received_dates|length %}
      {% for received_date in received_dates %}
        <div class="mb-2">
          <input class="form-control mb-1" type="datetime-local" name="screening_dates" value="{{received_date}}" min="2023-01-01T00:00" max="{{max_year}}-12-31T00:00" />
          <button onclick="removeScreening(this)"  type="button" class="btn btn-sm">Remover</button>
        </div>
      {% endfor %}
    {% else %}
      <div class="mb-2">
        <input class="form-control mb-1" type="datetime-local" name="screening_dates" value="{{current_date}}T19:00" min="2023-01-01T00:00" max="{{max_year}}-12-31T00:00" />
        <button onclick="removeScreening(this)"  type="button" class="btn btn-sm">Remover</button>
      </div>
    {% endif %}
  </div>
  <div class="mb-3">
    <button type="button" id="add-screening-btn" class="btn btn-secondary">Outra exibição</button>
  </div>
  <div class="mb-3">
    <label class="form-label" for="title">Title</label>
    <input class="form-control" name="movie_title" id="title" value="{{ request.form['movie_title'] }}" required>
  </div>
  <div class="mb-3">
    <label for="movie_poster" class="form-label">Imagem do filme</label>
    <input class="form-control" name="movie_poster" type="file" id="movie_poster">
  </div>

  <div class="mb-3">
    <label class="form-label">Status do cadastro</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" value="draft" name="status" id="status-draft">
      <label class="form-check-label" for="status-draft">
        Salvar rascunho
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" value="published" name="status" id="status-published" checked>
      <label class="form-check-label" for="status-published">
        Publicar
      </label>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="screening-description">Body</label>
    <div class="grow-wrap">
      <textarea
        class="form-control"
        name="description"
        id="screening-description"
        >{{ request.form['description'] }}</textarea>
    </div>
  </div>
  <div class="container mb-3 pb-3">
    <input class="btn btn-primary" type="submit" value="Save">
    <a id="back-btn" class="btn btn-secondary" href="{{ url_for('screening.index') }}">Voltar</a>
  </div>
</form>
<script>
  function removeScreening(e) {
    const screeningWrapper = document.getElementById("screenings");
    if (screeningWrapper.childElementCount == 2) return;
    e.parentElement.remove();
  }
  window.onload = () => {
    const description = document.getElementById("screening-description");
    description.style.height = `${description.scrollHeight}px`;
    const backBtn = document.getElementById('back-btn');
    backBtn.addEventListener("click", (e) => {
      const proceed = confirm("Alterações não salvas serão perdidas. Prosseguir?");
      if (!proceed) {
        e.preventDefault();
        return;
      }
    });
    const addScreeningBtn = document.getElementById("add-screening-btn");
    addScreeningBtn.addEventListener("click", (e) => {
      const screeningWrapper = document.getElementById("screenings");

      const screeningDiv = screeningWrapper.lastElementChild;

      const newScreeningDiv = screeningDiv.cloneNode(true);

      screeningWrapper.appendChild(newScreeningDiv);
    });
  };
</script>
{% endblock %}