{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Importar sessões{% endblock %}</h1>
<p></p>
{% endblock %} {% block content %}
<form method="post" enctype="multipart/form-data">
  <p>Selecione um arquivo .json válido para realizar a importação.</p>
  <div class="mb-3">
    <label for="json_file" class="form-label">Arquivo json</label>
    <input
      class="form-control"
      name="json_file"
      type="file"
      id="json_file"
      accept=".json,application/json"
      required
    />
  </div>
  <div class="container mb-3 pb-3 ps-0">
    <input class="btn btn-primary" type="submit" value="Enviar" />
  </div>
</form>
<hr />
<form method="POST" action="/screening/scrap">
  <h2>Scrapping automático</h2>
  <p>Dispare o processo de web scrapping através do botão abaixo.</p>
  <button class="btn btn-primary" type="submit">Fazer scrapping</button>
</form>
{% endblock %}
